body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1931px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1249 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:662px;
  width:1110px;
  height:102px;
}
#u1250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:36px;
}
#u1250 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:36px;
}
#u1250_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:85px;
  word-wrap:break-word;
}
#u1251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:36px;
}
#u1251 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:0px;
  width:162px;
  height:36px;
}
#u1251_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:158px;
  word-wrap:break-word;
}
#u1252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:36px;
}
#u1252 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:0px;
  width:105px;
  height:36px;
}
#u1252_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:101px;
  word-wrap:break-word;
}
#u1253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:36px;
}
#u1253 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:0px;
  width:130px;
  height:36px;
}
#u1253_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:126px;
  word-wrap:break-word;
}
#u1254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
}
#u1254 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:0px;
  width:126px;
  height:36px;
}
#u1254_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  word-wrap:break-word;
}
#u1255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
}
#u1255 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:0px;
  width:126px;
  height:36px;
}
#u1255_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  word-wrap:break-word;
}
#u1256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:36px;
}
#u1256 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:0px;
  width:109px;
  height:36px;
}
#u1256_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u1257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:36px;
}
#u1257 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:0px;
  width:137px;
  height:36px;
}
#u1257_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:133px;
  word-wrap:break-word;
}
#u1258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
}
#u1258 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:0px;
  width:126px;
  height:36px;
}
#u1258_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  word-wrap:break-word;
}
#u1259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:36px;
}
#u1259 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:89px;
  height:36px;
}
#u1259_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:85px;
  word-wrap:break-word;
}
#u1260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:36px;
}
#u1260 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:36px;
  width:162px;
  height:36px;
}
#u1260_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:158px;
  word-wrap:break-word;
}
#u1261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:36px;
}
#u1261 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:36px;
  width:105px;
  height:36px;
}
#u1261_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:101px;
  word-wrap:break-word;
}
#u1262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:36px;
}
#u1262 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:36px;
  width:130px;
  height:36px;
}
#u1262_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:126px;
  word-wrap:break-word;
}
#u1263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
}
#u1263 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:36px;
  width:126px;
  height:36px;
}
#u1263_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  word-wrap:break-word;
}
#u1264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
}
#u1264 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:36px;
  width:126px;
  height:36px;
}
#u1264_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  word-wrap:break-word;
}
#u1265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:36px;
}
#u1265 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:36px;
  width:109px;
  height:36px;
}
#u1265_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u1266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:36px;
}
#u1266 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:36px;
  width:137px;
  height:36px;
}
#u1266_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:133px;
  word-wrap:break-word;
}
#u1267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
}
#u1267 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:36px;
  width:126px;
  height:36px;
}
#u1267_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u1268 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:89px;
  height:30px;
}
#u1268_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:30px;
}
#u1269 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:72px;
  width:162px;
  height:30px;
}
#u1269_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u1270 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:72px;
  width:105px;
  height:30px;
}
#u1270_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u1271 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:72px;
  width:130px;
  height:30px;
}
#u1271_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u1272 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:72px;
  width:126px;
  height:30px;
}
#u1272_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u1273 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:72px;
  width:126px;
  height:30px;
}
#u1273_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u1274 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:72px;
  width:109px;
  height:30px;
}
#u1274_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u1275 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:72px;
  width:137px;
  height:30px;
}
#u1275_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u1276 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:72px;
  width:126px;
  height:30px;
}
#u1276_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1277_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1277 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:177px;
  width:43px;
  height:16px;
}
#u1277_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1278 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:173px;
  width:309px;
  height:25px;
}
#u1278_input {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1279_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1279 {
  border-width:0px;
  position:absolute;
  left:1631px;
  top:36px;
  width:300px;
  height:170px;
  text-align:left;
}
#u1279_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:296px;
  word-wrap:break-word;
}
#u1280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1280 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:248px;
  width:57px;
  height:16px;
}
#u1280_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1281_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1281 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:211px;
  width:53px;
  height:16px;
  font-size:13px;
}
#u1281_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1282 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:243px;
  width:308px;
  height:22px;
}
#u1282_input {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1282_input:disabled {
  color:grayText;
}
#u1283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1283 {
  border-width:0px;
  position:absolute;
  left:814px;
  top:216px;
  width:252px;
  height:81px;
}
#u1283_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:248px;
  word-wrap:break-word;
}
#u1284 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:208px;
  width:308px;
  height:25px;
}
#u1284_input {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1285 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:278px;
  width:53px;
  height:16px;
  font-size:13px;
}
#u1285_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1286 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:275px;
  width:308px;
  height:25px;
}
#u1286_input {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1287 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:313px;
  width:66px;
  height:16px;
  font-size:13px;
}
#u1287_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1288 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:310px;
  width:447px;
  height:90px;
}
#u1288_input {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:90px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1289_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1289 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:413px;
  width:27px;
  height:16px;
  font-size:13px;
}
#u1289_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1290 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:410px;
  width:308px;
  height:25px;
}
#u1290_input {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1291_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1291 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:448px;
  width:53px;
  height:16px;
  font-size:13px;
}
#u1291_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1292 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:445px;
  width:308px;
  height:25px;
}
#u1292_input {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1293_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1293 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:479px;
  width:53px;
  height:16px;
  font-size:13px;
}
#u1293_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1294 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:476px;
  width:308px;
  height:25px;
}
#u1294_input {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1295_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1295 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:514px;
  width:53px;
  height:16px;
  font-size:13px;
}
#u1295_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1296 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:511px;
  width:308px;
  height:25px;
}
#u1296_input {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1297_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1297 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:660px;
  width:53px;
  height:16px;
  font-size:13px;
}
#u1297_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1298 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:561px;
  width:140px;
  height:25px;
}
#u1298_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1299 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:561px;
  width:140px;
  height:25px;
}
#u1299_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1300_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1300 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:774px;
  width:252px;
  height:81px;
}
#u1300_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:248px;
  word-wrap:break-word;
}
#u1301 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:173px;
  width:140px;
  height:25px;
}
#u1301_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
