body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1931px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1886 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:183px;
  width:311px;
  height:25px;
}
#u1886_input {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1887 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:223px;
  width:101px;
  height:25px;
}
#u1887_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1888_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1888 {
  border-width:0px;
  position:absolute;
  left:1631px;
  top:36px;
  width:300px;
  height:170px;
  text-align:left;
}
#u1888_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:296px;
  word-wrap:break-word;
}
#u1889_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1889 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:228px;
  width:40px;
  height:16px;
  font-size:13px;
}
#u1889_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u1890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1890 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:402px;
  width:53px;
  height:16px;
  font-size:13px;
}
#u1890_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1891 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:401px;
  width:307px;
  height:22px;
}
#u1891_input {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1891_input:disabled {
  color:grayText;
}
#u1892_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1892 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:190px;
  width:66px;
  height:16px;
  font-size:13px;
}
#u1892_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1893 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:223px;
  width:309px;
  height:25px;
}
#u1893_input {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1894_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1894 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:333px;
  width:53px;
  height:16px;
  font-size:13px;
}
#u1894_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1895 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:328px;
  width:310px;
  height:22px;
}
#u1895_input {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1895_input:disabled {
  color:grayText;
}
#u1896_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1896 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:364px;
  width:40px;
  height:16px;
  font-size:13px;
}
#u1896_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u1897 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:360px;
  width:307px;
  height:25px;
}
#u1897_input {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1898_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1898 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:263px;
  width:40px;
  height:16px;
  font-size:13px;
}
#u1898_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u1899 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:258px;
  width:309px;
  height:25px;
}
#u1899_input {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1900_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1900 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:298px;
  width:40px;
  height:16px;
  font-size:13px;
}
#u1900_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u1901 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:293px;
  width:309px;
  height:25px;
}
#u1901_input {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1902 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:464px;
  width:140px;
  height:25px;
}
#u1902_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1903 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:464px;
  width:140px;
  height:25px;
}
#u1903_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
