body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1931px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1827 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:174px;
  width:274px;
  height:25px;
}
#u1827_input {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1828 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:374px;
  width:101px;
  height:25px;
}
#u1828_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1829 {
  border-width:0px;
  position:absolute;
  left:1631px;
  top:36px;
  width:300px;
  height:170px;
  text-align:left;
}
#u1829_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:296px;
  word-wrap:break-word;
}
#u1830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1830 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:213px;
  width:53px;
  height:16px;
  font-size:13px;
}
#u1830_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1831 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:323px;
  width:53px;
  height:16px;
  font-size:13px;
}
#u1831_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1832 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:319px;
  width:128px;
  height:22px;
}
#u1832_input {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1832_input:disabled {
  color:grayText;
}
#u1833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1833 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:180px;
  width:57px;
  height:16px;
}
#u1833_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1834 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:209px;
  width:274px;
  height:25px;
}
#u1834_input {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1835 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:248px;
  width:74px;
  height:16px;
  font-size:13px;
}
#u1835_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u1836 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:244px;
  width:274px;
  height:25px;
}
#u1836_input {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1837 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:283px;
  width:40px;
  height:16px;
  font-size:13px;
}
#u1837_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u1838 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:279px;
  width:274px;
  height:25px;
}
#u1838_input {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1839 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:374px;
  width:101px;
  height:25px;
}
#u1839_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
