body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1931px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1967 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:145px;
  width:43px;
  height:16px;
}
#u1967_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1968 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:141px;
  width:268px;
  height:25px;
}
#u1968_input {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1969_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1969 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:205px;
  width:57px;
  height:16px;
}
#u1969_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1970 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:203px;
  width:268px;
  height:25px;
}
#u1970_input {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1971 {
  border-width:0px;
  position:absolute;
  left:1631px;
  top:36px;
  width:300px;
  height:170px;
  text-align:left;
}
#u1971_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:296px;
  word-wrap:break-word;
}
#u1972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1972 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:240px;
  width:57px;
  height:16px;
}
#u1972_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1973 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:238px;
  width:268px;
  height:25px;
}
#u1973_input {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1974 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:301px;
  width:43px;
  height:16px;
}
#u1974_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1975 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:299px;
  width:268px;
  height:25px;
}
#u1975_input {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1976_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1976 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:367px;
  width:57px;
  height:16px;
}
#u1976_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1977 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:365px;
  width:268px;
  height:25px;
}
#u1977_input {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1978_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1978 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:402px;
  width:57px;
  height:16px;
}
#u1978_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1979 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:400px;
  width:268px;
  height:25px;
}
#u1979_input {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1980 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:437px;
  width:57px;
  height:16px;
}
#u1980_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1981 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:435px;
  width:268px;
  height:25px;
}
#u1981_input {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1982 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:275px;
  width:43px;
  height:16px;
}
#u1982_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1983 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:299px;
  width:268px;
  height:25px;
}
#u1983_input {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1984 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:269px;
  width:268px;
  height:25px;
}
#u1984_input {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1985_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1985 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:336px;
  width:85px;
  height:16px;
}
#u1985_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1986 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:334px;
  width:268px;
  height:25px;
}
#u1986_input {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1987_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1987 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:480px;
  width:57px;
  height:16px;
}
#u1987_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1988_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1988 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:480px;
  width:237px;
  height:16px;
}
#u1988_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  white-space:nowrap;
}
#u1989 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:609px;
  width:101px;
  height:25px;
}
#u1989_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1990 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:609px;
  width:101px;
  height:25px;
}
#u1990_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1991_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1991 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:506px;
  width:29px;
  height:16px;
}
#u1991_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1992 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:506px;
  width:548px;
  height:74px;
}
#u1992_input {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:74px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1993 {
  border-width:0px;
  position:absolute;
  left:661px;
  top:609px;
  width:101px;
  height:25px;
}
#u1993_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1994 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:174px;
  width:57px;
  height:16px;
}
#u1994_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1995 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:170px;
  width:268px;
  height:25px;
}
#u1995_input {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
